.grid-container{
   display: grid;
}

.menu{
   grid-template-columns: auto auto auto auto;
   display: grid;
}

.hidden{
   display: none;
}

.content{
   width: 70%;
}

.text{
	font-family: Tahoma;
	color:rgb(0,0,0);
	font-size:20px;
}

.grid-container{
   display: grid;
}

.grid-container-maxContent-auto-maxContent {
   grid-template-columns: max-content auto max-content;
}

.menu{
   grid-template-columns: auto auto auto auto;
   display: grid;
}

.hidden{
   display: none;
}

.grid-menu{
   display: grid;
   grid-template-columns: auto 6em;
}

.content{
   width: 70%;
}

.ad-image {
   width: 15rem;
   height: 17rem;
}

body {
   max-width: 100vw;
   background: rgb(255, 255, 255) url("../images/killbill2.jpeg") no-repeat fixed;
   background-size: cover;
}

.siteMenu-el {
   background: ghostwhite;
   border-radius: 2rem;
   padding: 0.8rem;
   margin: 0.5rem auto;
   height: 20px;
}


#expandMenu {
   background: url("../images/strelka.png") 50% 50% no-repeat;
   background-size: contain;
   background-color: white;
   width: 5em;
   height: 5em;
   color: rgba(0, 0, 0, 0.0);
   border-radius: 50%;
   border: 3px solid black;
}

#site-menu {
   border: 0.2rem solid whitesmoke;
   padding: 10px;
}

.text{
   text-align: center;
   margin: 1.3em 0px 1.3em 0px;
   text-decoration: underline;
   font-weight: bold;
   font-size: 15px;
}

.text1{
   margin:0.5em 0px 1.3em 0px;
}

#startsoon{
   margin-bottom: 1.5em;
}

A {
   color: rgb(245,245,245);
}

A:active {
   color: rgb(0,255,255);
}