.grid-container{
   display: grid;
}

.menu{
   grid-template-columns: auto auto auto auto;
   display: grid;
}

.hidden{
   display: none;
}

.menu > div{

}

.grid-menu{
   display: grid;
   grid-template-columns: auto 3em;
}

.content{
   width: 70%;
}

.text{
	font-family: Tahoma;
	color:rgb(0,0,0);
	font-size:20px;
}

.grid-container{
   display: grid;
   grid-template-columns: auto auto auto;
}

.menu{
   grid-template-columns: auto auto auto auto;
   display: grid;
}

.hidden{
   display: none;
}

.menu > div{

}

.grid-menu{
   display: grid;
   grid-template-columns: auto 3em;
}

.content{
   width: 70%;
}

.full-width {
   grid-column: 1 / -1;
}